[Desktop Entry]
Type=Application
Version=1.0
Name=Hello
GenericName=Builder Demo
Comment=rs-builder example
Exec=rs-builder-hello
Icon=rs-builder-hello
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
