[Desktop Entry]
Type=Application
Version=1.0
Name=Hello
GenericName=Builder Demo
Comment=pifu example
Exec=pifu-hello
Icon=pifu-hello
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
